* text=auto
*.md text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.c text eol=lf
*.h text eol=lf
*.sv text eol=lf
*.svh text eol=lf
*.py text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.bin binary
*.raw binary
